*{
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body{
    margin:0;
}

header {
    display:Flex;
    background-color: rgb(206, 146, 255);
    height: 70px;
}

nav{
    background-color: rgb(206, 146, 255);
    gap: 20px;
    padding: 20px 0;
    display: flex;
}

.uber{
    font-family: Century Gothic,AppleGothic,sans-serif;
    color:rgb(255, 255, 255);
    display:flex;
    padding: 15px;
    top:5px;
    font-size: 18px;
    font-weight: bold;
    position: absolute;
    text-decoration: none;
}

h1{
    text-align: center;
    margin: 40px;
    font-size: 40px;
}

h2{
    text-align: center;
    margin: 50px;
}

footer{
    height: 190px;
    display:flex;
    width: 100%;
    text-align: center;
    justify-content: space-around;
}

.footer_1{
    background-color: black;
    color:white;
}

.container_1, .container_2, .container_3, .container_4, .container_5{
    margin: 9px;
}

.parr_1, .parr_2, .parr_3, .parr_4, .parr_5, .parr_6, .parr_7, .parr_8, .parr_9, .parr_10{
    font-size: 9px;
    font-weight: bold;
}

.parr_11, .parr_12, .parr_13{
    text-decoration: underline;
    font-size: 9px;
    font-weight: bold;
}

h3{
    font-size: 10px;
    text-align: center;
    font-weight: bold;
}

@media screen and (min-width: 768px){
    .uber{
        font-size: 22px;
    }

    h1{
        margin: 80px;
        font-size: 60px;
    }

    h2{
        margin: 100px;
        font-size: 40px;
    }

    .parr_1, .parr_2, .parr_3, .parr_4, .parr_5, .parr_6, .parr_7, .parr_8, .parr_9, .parr_10{
        font-size: 15px;
        font-weight: bold;
    }

    .parr_11, .parr_12, .parr_13{
        text-decoration: underline;
        font-size: 15px;
        font-weight: bold;
    }

    footer{
        margin-top: 250px;
    }

    h3{
        font-size: 15px;
    }
}

@media screen and (min-width: 1024px){
    .parr_1, .parr_2, .parr_3, .parr_4, .parr_5, .parr_6, .parr_7, .parr_8, .parr_9, .parr_10{
        font-size: 15px;
        font-weight: bold;
    }
    
    .parr_11, .parr_12, .parr_13{
        text-decoration: underline;
        font-size: 15px;
        font-weight: bold;
    }

    h3{
        font-size: 17px;
    }
}